NODE_ENV="development" # Options: 'development', 'production'

API_GATEWAY="http://localhost:8080"

STRAPI_URL="http://localhost:1337/api"
COMPOSER_URL="http://localhost:3010/"
DAL_URL="http://localhost:6001"
JOURNEYS_URL="http://localhost:3020"